tiltakspenger-*/
.gradle/
.DS_Store

### Intellij+all Patch ###
# Ignores the whole .idea folder and all .iml files
# See https://github.com/joeblau/gitignore.io/issues/186 and https://github.com/joeblau/gitignore.io/issues/360

.idea/**
.vscode/**
/tiltakspenger-scheduler/
/tiltakspenger-template/
/tiltakspenger-admin/
/tiltakspenger-soknad-api/
/tiltakspenger-pdfgen/
/tiltakspenger-person/
/tiltakspenger-arena/
/tiltakspenger-fp/
/tiltakspenger-iac/
/tiltakspenger-institusjon/
/tiltakspenger-libs/
/tiltakspenger-mottak/
/tiltakspenger-overgangsstonad/
/tiltakspenger-saksbehandler/
/tiltakspenger-skjerming/
/tiltakspenger-testmeldinger/
/tiltakspenger-ufore/
/tiltakspenger-vedtak/
/tiltakspenger-tiltak/
/tiltakspenger-vedtak-rivers/
/tiltakspenger-soknad/
/tiltakspenger-utbetaling/
/tiltakspenger-dokument/
/tiltakspenger-meldekort-api/
/tiltakspenger-kafka-manager/
/tiltakspenger-person-river/
/tiltakspenger-skjerming-river/